#primeraparte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    height: 200px;

}
img{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    position: absolute;
    height: 250px;
    top: 100px;
    border-radius: 50%;
    padding-left: 30px;
    left: 20px;
    

}
#segundaparte{

    margin-top: 150px;
    margin-left: 20px;



}
#texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 20px;
    padding-left: 20px;
    


}
input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    padding-left: 10px;

}
#button{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    font-size: 30px;

}
    
    



    
    



